.main-menu {
    width: 1366px;
    height: 40px;
    background-color: #20BD9A;
}

.main-menu .center-wrap .main-list ul li {
    float: left;
    margin-right: 18px;
    line-height: 40px;
}

.main-menu .center-wrap .main-list ul li a {
    font-size: 18px;
    color: white;
}

.main-menu .center-wrap .main-list>ul>li.have-menu {
    padding-right: 16px;
}

.searchbar {
    position: relative;

    height: 78px;
}

.searchbar .center-wrap {
    position: relative;

    height: 78px;
}

.searchbar .center-wrap h1 {
    position: absolute;
    font-size: 24px;
    float: left;
    line-height: 78px;
    color: #20BD9A;

}

.searchbar .center-wrap .search-container {
    position: absolute;
    /* or absolute */

    float: left;
    width: 402px;
    height: 28px;
    margin-left: 140px;
    margin-top: 25px;
    border: #20BD9A 1px solid;
    border-radius: 4px 0px 0px 4px;

}

.searchbar .center-wrap .search-container .searchbox {

    position: absolute;
    /* or absolute */
    float: left;
    width: 300px;
    height: 28px;
    left: 50%;
    margin-left: -150px;
    border: none;
}

.searchbar .center-wrap .search-container .searchbox input {

    width: 300px;
    height: 28px;
    font-size: small;
    border: none;
    outline: none;
}

.searchbar .center-wrap .searchbtn {
    float: left;
    height: 30px;
    width: 32px;
    text-align: center;

    background-color: #20BD9A;
    margin-top: -1px;
    margin-left: 403px;
    border-radius: 0px 4px 4px 0px;

}

.searchbar .center-wrap .searchbtn a {
    color: white;
    line-height: 28px;
    color: white;

}

.nav-r {
    float: right;
}

.nav-r a,
span {
    margin-right: 7px;
    font-size: small;
}

.shortcut-list .have-menu .topmenu-dest {

    display: none;
    padding-left: 10px;

}

.shortcut-list .have-menu .topmenu-dest ul {

    display: none;

}

.shortcut-list .have-menu:hover .topmenu-dest ul {
    font-size: 12px;
    line-height: 18px;
    display: block;
}

.shortcut-list .have-menu:hover .topmenu-dest ul li {

    line-height: 18px;
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 3px;

}

.shortcut-list .have-menu:hover .topmenu-dest ul a {
    font-size: 12px;
    color: #1C1F21;

}

.shortcut-list li.have-menu:hover .topmenu-dest {

    position: absolute;
    width: 75px;
    height: 168px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0;
    display: block;
    z-index: 9999;

}

.banner img {
    width: 100%;
    height: 420px;
    min-width: 1152px;
    vertical-align: middle;
}

.banner {
    position: relative;
}

.banner .center-wrap .banner-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 296px;
    height: 100%;
    left: 50%;
    margin-left: -576px;
}

.banner .center-wrap .banner-nav>ul {
    height: 100%;


}

.banner .center-wrap .banner-nav>ul>li {
    position: relative;
    height: 16.6666667%;
    opacity: 0.5;
    background: #000000;
    border: #FFFFFF .5px solid;
    box-sizing: border-box;
    display: block;
}

.banner .center-wrap .banner-nav>ul>li:hover {

    opacity: 0.70;

}

.banner .center-wrap .banner-nav>ul>li dl {
    height: 48px;
    position: absolute;
    top: 50%;
    margin-top: -32px;
    margin-left: 42px;
    margin-right: 62px;
}

.banner .center-wrap .banner-nav>ul>li dl dt {
    font-size: 18px;
    color: #FFFFFF;
}

.banner .center-wrap .banner-nav>ul>li dl dd {
    font-size: 14px;
    color: #FFFFFF;

}

.banner .nav-arrow-left {
    position: absolute;
    width: 32px;
    height: 44px;
    top: 50%;
    margin-top: -22px;
    margin-left: 65px;
    opacity: 0.5;
    background: #000000;

}

.banner .nav-arrow-left a {
    position: absolute;
    top: 50%;
    margin-top: -14px;
    font-size: 26px;
    color: white;

}

.banner .nav-arrow-right {
    position: absolute;
    width: 32px;
    height: 44px;
    right: -1px;
    top: 50%;
    margin-top: -22px;
    margin-right: 66px;
    opacity: 0.5;
    background: #000000;

}

.banner .nav-arrow-right a {
    position: absolute;
    top: 50%;
    margin-top: -14px;
    font-size: 26px;
    padding-left: 3px;
    color: white;

}

.banner .center-wrap .banner-nav>ul>li span {
    position: absolute;
    width: 24px;
    height: 24px;
    font-size: 24px;
    color: #00ffc8;
    top: 50%;
    margin-top: -14px;
    margin-left: 12px;
}

.banner .center-wrap .banner-nav>ul>li em {

    position: absolute;
    width: 16px;
    height: 16px;
    right: -1px;
    margin-right: 8px;
    font-size: 16px;
    color: white;
    top: 50%;
    margin-top: -8px;
    margin-left: 12px;
}

.banner .center-wrap .menu {

    position: absolute;
    top: 0;
    left: 403px;
    width: 356px;
    height: 100%;
    opacity: 0.5;
    padding: 10px;
    background: #000000;
    box-sizing: border-box;


}

.banner .center-wrap .menu .menu-split dl {

    height: 33.3333333;
    margin-bottom: 20px;
    ;
    box-sizing: border-box;
    display: block;
}

.banner .center-wrap .menu .menu-split dl dt {

    font-size: 18px;
    color: white;

}

.banner .center-wrap .menu .menu-split dl dd a {

    font-size: 14px;
    color: white;

}

.hot-ads ul li {
    float: left;
    width: 264px;
    height: 110px;
    margin-right: 32px;
}

.hot-ads ul li:last-child {
    width: 264px;
    height: 110px;
    margin-right: 0px;
}

.hot-ads {
    height: 110px;
    margin-top: 32px;
    margin-bottom: 32px;
}


.new-specials {
    background: #F7F7F7;
    height: 738px;

}



.title {

    float: left;
    font-size: 36px;
    color: #1C1F21;
    text-align: justify;
    line-height: 54px;
    padding-top: 40px;
    margin-bottom: 32px;

}

.subtitle {

    float: left;
    margin-top: 30px;
    margin-left: 12px;
    font-size: 12px;
    padding-top: 40px;

    margin-bottom: 32px;


}

.new-specials ul li {

    float: left;
    width: 264px;
    height: 184px;
    margin-right: 32px;
    margin-bottom: 120px;

}

.new-specials ul li:nth-child(4n) {

    margin-right: 0
}

.wordbox {

    background: #FFFFFF;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.20);
    color: #1C1F21;
    height: 86px;
    width: 264px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 32px;
    padding: 22px 14px 22px 14px;
    box-sizing: border-box;

}

.wordbox a {

    color: #1C1F21;
    font-size: 14px;
}

.picbox {

    width: 264px;
    height: 184px;

}

.wordbox,
.picbox {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.20);

}

.self-tour {

    height: 738px;

}

.common-style nav ul li {

    float: right;
    margin-right: 10px;
    padding: 2px;
    margin-top: 40px;

}

.common-style nav ul li:hover a {

    color: #20BD9A;
    border-bottom: #20BD9A solid 3px;

}

.common-style nav ul li a {

    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
    line-height: 22px;

}

.common-style .big-grid {

    position: relative;
    width: 560px;
    height: 270px;
    margin-right: 32px;
    margin-bottom: 32px;


}

.common-style .pro-grid {

    width: 264px;
    height: 270px;
    margin-right: 32px;
    margin-bottom: 32px;


}

.common-style ul li {

    float: left;

}

.common-style  ul li:nth-child(3),
li:nth-child(7) {

    margin-right: 0px;

}

.common-style .picbox .tag {

    position: absolute;
    top: 144px;
    width: 74px;
    height: 40px;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    line-height: 40px;
    opacity: 0.6;
    background: #1C1F21;

}

.common-style .big-grid .tag {

    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -20px;
    width: 74px;
    height: 40px;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    line-height: 40px;
    opacity: 0.6;
    background: #1C1F21;

}

.common-style .big-grid .info {

    position: absolute;
    width: 560px;
    height: 103px;
    opacity: 0.55;
    top: 167px;
    background: #1C1F21;

}

.common-style .big-grid .info div {

    position: absolute;
    padding: 26px;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 22px;

}

.common-style .more-grid {

    position: relative;
    width: 264px;
    height: 270px;
    background-image: linear-gradient(180deg, #34E3BC 0%, #15AF7A 98%);
    box-shadow: 0 1px 1px 0;
    padding-top: 46px;
    box-sizing: border-box;
    ;


}

.common-style .more-grid p {

    font-size: 14px;
    top: 46px;
    text-align: center;
    color: #FFFFFF;

}

.common-style .more-grid span {

    position: absolute;
    font-size: 48px;
    top: 50%;
    margin-top: -25px;
    color: #FFFFFF;
    left: 50%;
    margin-left: -24px;
    line-height: 48px;
}

.common-style .more-grid ul {

    float: left;
    margin-top: 113px;
    margin-left: 13%;
}

.common-style .more-grid ul li {

    float: left;
    padding-right: 10px;
    margin-left: 10px;
    font-size: 14px;
    color: #FFFFFF;
    border-right: #FFFFFF solid 2px;


}

.common-style .more-grid ul li:last-child {

    margin-right: 0px;
    border-right: #FFFFFF solid 0px;


}

.local-fun {

    height: 586px;
    background-color: #F7F7F7;

}

.local-fun .content .col {

    float: left;
    height: 420px;
    width: 364px;
    margin-right: 30px;
    box-sizing: border-box;

}

.local-fun .content .col:last-child {

    margin-right: 0px;

}

.local-fun .localfun-grid {

    width: 364px;
    height: 120px;
    margin-bottom: 32px;
    box-sizing: border-box;
}

.local-fun .localfun-grid .picbox {

    float: left;
    width: 120px;
    height: 120px;
}

.local-fun .localfun-grid .wordbox {

    float: left;
    width: 244px;
    height: 120px;
    box-sizing: border-box;

}

.local-fun .bigpicbox {

    position: relative;
    width: 364px;
    height: 272px;
    margin-bottom: 32px;

}

.local-fun .bigpicbox .info {

    position: absolute;
    left: 0px;
    top: 166px;
    width: 364px;
    height: 104px;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.6;
    background: #1C1F21;
    padding: 10px;
    box-sizing: border-box;

}

.local-fun .bigpicbox .info .price {

    float: right;
    font-size: 14px;
    line-height: 22px;

}

.local-fun .bigpicbox .info .price strong {

    color: #36DFBA;
}

.local-fun .more-grid {

    width: 364px;
    height: 272px;
    background-image: linear-gradient(180deg, #FF6374 1%, #FF7368 98%);
    box-shadow: 0 4px 8px 0;

}

.local-experiences {

    width: 1366px;
    height: 456px;

}

.local-experiences .hd {

    padding-left: 416px

}


.local-experiences .content li {

    position: relative;
    float: left;
    top: 10%;

}

.local-experiences .content li {

    margin-right: 32px;

}

.local-experiences .content li:last-child {

    margin-right: 0;

}

.local-experiences .content .proname {

    height: 40px;

}

.local-experiences .content span {

    font-size: 10px;

}

.local-experiences .content .score {

    color: #FA6400;
}



.local-experiences .wordbox {

    padding: 12px;

}

.deep-tour {

    height: 738px;
    background-color:#F7F7F7;

}

.group-tour {

    height: 738px;

}

.common-style .mask {

    position: absolute;

}

.common-style .circle {

    position: absolute;

    
}

.common-style .word {

    position: absolute;
    
}

.deep-tour .more-grid {

    background-image: linear-gradient(180deg, #BD5EE8 0%, #832ABB 98%);
}

.group-tour .more-grid {

    background-image: linear-gradient(180deg, #41D8E9 0%, #3685EA 98%);


}