.main-menu{
    width: 1366px;
    height: 40px;
    background-color: #20BD9A;
}

.main-menu .center-wrap .main-list ul li{
    float: left;
    margin-right: 18px;
    line-height: 40px;
}

.main-menu .center-wrap .main-list ul li a{
    font-size: 18px;
    color: white;
}

.main-menu .center-wrap .main-list > ul > li.have-menu{
    padding-right: 16px;
}

.searchbar {
    position: relative;

    height: 78px;
}
.searchbar .center-wrap {
    position: relative;

    height: 78px;
}

.searchbar .center-wrap h1{
    position: absolute;
    font-size: 24px;
    float:left;
    line-height: 78px;
    color: #20BD9A;
    
}

.searchbar .center-wrap .search-container{
    position: absolute; /* or absolute */

    float: left;
    width:402px;
    height:28px;
    margin-left: 140px;
    margin-top: 25px;
    border: #20BD9A 1px solid;
    border-radius: 4px 0px 0px 4px;

}
.searchbar .center-wrap .search-container .searchbox{

    position: absolute; /* or absolute */
    float: left;
    width:300px;
    height:28px;
    left: 50%;
    margin-left: -150px;
    border:none;
}

.searchbar .center-wrap .search-container .searchbox input{

    width:300px;
    height:28px;
    font-size: small;
    border:none;
    outline: none;
}

.searchbar .center-wrap .searchbtn{
    float:left;
    height:30px;
    width: 32px;
    background-color:#20BD9A ;
    margin-top: -1px;
    margin-left: 403px;
    border-radius: 0px 4px 4px 0px;

}

